eybusinessapi/src/main/resources/handler-chain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="handler-chains">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="handler-chain">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="handler" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="handler-class" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>